<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script type="text/javascript">
	function httpGetAsync(theUrl, callback) {
	    var xmlHttp = new XMLHttpRequest();
	    xmlHttp.onreadystatechange = function() {
	        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
	            callback(xmlHttp.responseText);
	    }
	    xmlHttp.open("GET", theUrl, true); // true for asynchronous
	    xmlHttp.send(null);
	}

	// httpGetAsync("http://127.0.0.1:5000/get_cases", function(response) {
	//	console.log(response);
	// })
</script>
</head>
<body>

<div id="myElement">
	Covid19 API! Doku follows ....
	<br>
	Try:
	<ul>
	<li>/get_totals</li>
	<li>/get_data</li>
	<li>/get_events</li>
	...
	</ul>
</div>



</body></html>